@page "/club-dashboard/court/create"
@page "/club-dashboard/court/edit/{id:guid}"

@inherits CourtDetailComponent

<EditForm Model="@ViewModel" OnValidSubmit="@HandleValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <InputText id="name" @bind-Value="@ViewModel.Name" />

    <InputSelect @bind-Value="@ViewModel.Light">

        <option value="">Selezionare una luce ...</option>

        @foreach (var light in ViewModel.Lights)
        {
            <option value=@($"{light.Id}")>@light.LightType</option>
        }
    </InputSelect>

    <InputSelect @bind-Value="@ViewModel.Heat">
                
        <option value="">Selezionare un riscaldamento ...</option>
        
        @foreach (var heats in ViewModel.Heats)
        {
            <option value=@($"{heats.Id}")>@heats.HeatType</option>
        }
    
    </InputSelect>

    <InputCheckbox id="valid" @bind-Value="@ViewModel.Enable" />

    <button type="submit">Submit</button>
</EditForm>