@page "/club-dashboard/court/create"
@page "/club-dashboard/court/edit/{id:guid}"

@inherits CourtDetailComponent

<EditForm Model="@ViewModel" OnValidSubmit="@(async () => await HandleValidSubmit())">

    <dataannotationsvalidator/>
    <validationsummary/>

    <InputText id="name" @bind-Value="@ViewModel.Name"/>

    <InputSelect @bind-Value="@ViewModel.Light">

        <option value="@($"{Guid.Empty}")">Selezionare una luce ...</option>

        @foreach (var light in ViewModel.Lights)
        {
            <option value="@light.Id">@light.LightType</option>
        }
    </inputselect>

    <InputSelect @bind-Value="@ViewModel.Heat">

        <option value="@($"{Guid.Empty}")">Selezionare un riscaldamento ...</option>

        @foreach (var heats in ViewModel.Heats)
        {
            <option value="@heats.Id">@heats.HeatType</option>
        }

    </inputselect>

    <InputCheckbox id="valid" @bind-Value="@ViewModel.Enable"/>

    <button type="submit">Submit</button>
</editform>