@page "/club-dashboard/court/create"
@page "/club-dashboard/court/edit/{key:guid}"

@attribute [Authorize]
@inherits CourtDetailComponent

@if (ViewModel == null)
{
    <span>Loading ...</span>
    return;
}

<MatCard class="p-4">

    <MatSubtitle2>
        <h3>@($"{(ViewModel.IsNew ? "Crea una nuova luce" : "Modifica una luce esistente")}")</h3>
    </MatSubtitle2>


    <EditForm class="d-flex flex-column" Model="@ViewModel" OnValidSubmit="@(async () => await HandleValidSubmit())">

        <DataAnnotationsValidator/>
        <ValidationSummary/>

        <MatTextField @bind-Value="@ViewModel.Name" Dense="true" Label="Nome" HelperText="Inserire il nome del campo."></MatTextField>

        <MatSelect Id="light-dd" Label="Seleziona una luce" @bind-Value="@ViewModel.LightId">
            
            <MatOption Value="@($"{Guid.Empty}")"></MatOption>

            @foreach (var light in ViewModel.Lights)
            {
                <MatOption Value="@($"{light.Id}")">@light.LightType</MatOption>
            }
        </MatSelect>

        <MatSelect Class="mt-3" Label="Seleziona una luce" @bind-Value="@ViewModel.HeatId">
                    
            <MatOption value="@($"{Guid.Empty}")"></MatOption>
            
            @foreach (var heat in ViewModel.Heats)
            {
                <MatOption Value="@($"{heat.Id}")">@heat.HeatType</MatOption>
            }
        </MatSelect>
                 
        <MatCheckbox Class="mt-2" @bind-Checked="@ViewModel.Enabled" Label="Abilitato"></MatCheckbox>

        <div class="d-flex flex-row-reverse">
            <MatButton Type="submit" Class="submit" Outlined="true">Salva</MatButton>
        </div>

    </EditForm>

</MatCard>