@inherits CourtsComponent

@if (ViewModel == null)
{
    <span>Loading ...</span>
    return;
}

<div class="d-flex justify-content-end mb-2">
    <button class="btn btn-outline-primary w-10" @onclick="GoToCreate">Crea</button>
</div>

<div class="d-flex justify-content-end mb-2">

    <CascadingValue Value="@ViewModel" Name="Value">

        <TableTemplate TItem="CourtViewModel" Context="court">
    
            <TableHeader>
    
                <th>Nome</th>
                <th>Luce</th>
                <th>Riscaldamento</th>
                <th>
                    <span class="oi oi-circle-check"></span>
                </th>
                <th></th>
    
            </TableHeader>
    
            <RowTemplate>
    
                @* <td>@($"{court.Name}")</td> *@
                @* <td>@($"{court.Light.Type}")</td> *@
                @* <td>@($"{court.Heat.Type}")</td> *@
                @* <td> *@
                @*     <span class="@($"oi {(court.Enabled ? "oi-check" : string.Empty)}")"></span> *@
                @* </td> *@
                @* <td class="pointer align-middle" @onclick="() => GoToEdit(court.Id)"> *@
                @*     <span class="oi oi-external-link"></span> *@
                @* </td> *@
    
            </RowTemplate>
    
        </TableTemplate>

    </CascadingValue>

</div>