@attribute [Authorize]
@page "/profiles"

@inherits ProfilesComponent

@if (ViewModel == null)
{
    <span>Loading ...</span>
    return;
}

<div class="d-flex justify-content-end mb-2">
    <MatButton Type="button" Outlined="true" OnClick="GoToCreate">Crea</MatButton>
</div>

<div class="d-flex justify-content-end mb-2">

    <table class="table table-striped">

        <thead class="thead-dark">
        <tr>
            <th scope="col">
                <span>#</span>
            </th>
            <th>Atleta</th>
            <th>Contatti</th>
            <th>Debito</th>
            <th></th>
        </tr>
        </thead>

        <tbody>
        @foreach (var (viewModel, index) in ViewModel.Select((value, i) => (value, i)))
        {
            <tr>
                <th>@($"{index + 1}")</th>
                <td>@($"{viewModel.Name} {viewModel.Surname}")</td>
                <td><ul>
                        <li>@viewModel.Phone</li>
                        <li>@viewModel.Email</li>
                </ul></td>
                <td>@viewModel.Debt &euro;</td>
                <td>
                    <MatButton Type="button" Outlined="true" OnClick="() => GoToEdit(viewModel.Id)">Modifica</MatButton>
                </td>
            </tr>
        }
        </tbody>
    </table>
</div>