@using AppiSimo.Client.Constants
@inherits RateDetailComponent

@page "/club-dashboard/rates/create"
@page "/club-dashboard/rates/edit/{id:guid}"

<EditForm Model="@ViewModel" OnValidSubmit="@(async () => await HandleValidSubmit())">

    <DataAnnotationsValidator></DataAnnotationsValidator>
    <ValidationSummary></ValidationSummary>

    <MatTextField @bind-Value="@ViewModel.Name" Dense="true" Label="Nome" HelperText="Inserire il nome della tariffa."></MatTextField>

    <InputLocalDatePickerView @bind-Value="ViewModel.StartDate" ></InputLocalDatePickerView>
    <InputLocalDatePickerView @bind-Value="ViewModel.EndDate" ></InputLocalDatePickerView>

    <button type="button" @onclick="Add">+++</button>

    @foreach (var dailyRateViewModel in ViewModel.DailyRatesViewModel)
    {
        <InputSelectT @bind-Value="@dailyRateViewModel.Start">

            <option value="">...</option>

            @foreach (var step in LocalTimeSteps.FromMidnight)
            {
                <option value="@Converter.FormatValueAsString(step)">@Converter.FormatValueAsString(step)</option>
            }

        </InputSelectT>

        <InputSelectT @bind-Value="@dailyRateViewModel.End">

            <option value="">...</option>

            @foreach (var step in LocalTimeSteps.ToMidnight)
            {
                <option value="@Converter.FormatValueAsString(step)">@Converter.FormatValueAsString(step)</option>
            }

        </InputSelectT>

        <InputNumber @bind-Value="@dailyRateViewModel.Price"></InputNumber>

        <button type="button" @onclick="() => Remove(dailyRateViewModel.Entity.Id)">---</button>
    }

    <button type="submit">Submit</button>

</EditForm>