@page "/club-dashboard/light/create"
@page "/club-dashboard/light/edit/{id:guid}"

@inherits LightDetailComponent

<EditForm Model="@ViewModel" OnValidSubmit="@HandleValidSubmit">

    <DataAnnotationsValidator />
    <ValidationSummary />

    <InputText id="type" @bind-value = "@ViewModel.Type" />
    <InputNumber  id="price" @bind-value = "@ViewModel.Price" />
    <InputCheckbox id="enabled" @bind-value = "@ViewModel.Enable" />

    <button type="submit">Submit</button>
</EditForm>

