@page "/club-dashboard/heat/create"
@page "/club-dashboard/heat/edit/{id:guid}"

@inherits HeatDetailComponent

<EditForm Model="@ViewModel" OnValidSubmit="@HandleValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <InputText id="name" @bind-Value="@ViewModel.Type" />
    <InputNumber  id="name" @bind-Value="@ViewModel.Price" />
    <InputCheckbox id="valid" @bind-Value="@ViewModel.Enable" />

    <button type="submit">Submit</button>
</EditForm>