@page "/club-dashboard/heat/create"
@page "/club-dashboard/heat/edit/{key:guid}"

@attribute [Authorize]
@inherits HeatDetailComponent

@if (ViewModel == null)
{
    <span>Loading ...</span>
    return;
}

<MatCard class="p-4">

    <MatSubtitle2>
        <h3>@($"{(ViewModel.IsNew ? "Crea un nuovo riscaldamento" : "Modifica un riscaldamento esistente")}")</h3>
    </MatSubtitle2>


    <EditForm class="d-flex flex-column" Model="@ViewModel" OnValidSubmit="@(async () => await HandleValidSubmit())">

        <DataAnnotationsValidator/>
        <ValidationSummary/>

        <MatTextField @bind-Value="@ViewModel.Type" Dense="true" Label="Nome" HelperText="Inserire il nome della luce."></MatTextField>

      <MatNumericUpDownField
            Label="Prezzo"
            @bind-Value="@ViewModel.Price"
            DecimalPlaces="2"
            Step="0.50m"
            Minimum="1.00m">
        </MatNumericUpDownField>

        <MatCheckbox Class="mt-2" @bind-Checked="@ViewModel.Enable" Label="Abilitato"></MatCheckbox>

        <div class="d-flex flex-row-reverse">
            <MatButton Type="submit" Class="submit" Outlined="true">Salva</MatButton>
        </div>

    </EditForm>

</MatCard>