@page "/club-dashboard/heat/create"
@page "/club-dashboard/heat/edit/{id:guid}"

@inherits HeatDetailComponent

<EditForm Model="@ViewModel" OnValidSubmit="@(async () => await HandleValidSubmit())">

    <DataAnnotationsValidator/>
    <ValidationSummary/>


    <InputText id="name" @bind-Value = "@ViewModel.Type"></InputText>
    <InputNumber id="name" @bind-Value = "@ViewModel.Price"></InputNumber>
    <InputCheckbox id="valid" @bind-Value = "@ViewModel.Enable"></InputCheckbox>

    <button type="submit">Submit</button>
</EditForm>