@page "/"
@inherits IndexComponent

<AuthorizeView>
    <Authorized>
        <h1>Hello, @context.User.Identity.Name!</h1>
        <p>You can only see this content if you're authenticated.</p>
    </Authorized>
    <Authorizing>
        <h1>Authentication in progress</h1>
    </Authorizing>
    <NotAuthorized>
        <h1>Authentication Failure!</h1>
        <p>You're not signed in.</p>
    </NotAuthorized>
</AuthorizeView>

<h3>Selected Light</h3>

@if (Lights != null)
{
    <ol>
        @foreach (var light in Lights)
        {
            <li @onclick="() => Select(light.Id)" style="cursor: pointer">@light.LightType - @light.Price &euro;</li>
        }
    </ol>
}

<h3>Selected Light</h3>
@if (Light != null)
{
    <div>
        <h4>@Light.LightType - @Light.Price &euro;</h4>
    </div>
}
else
{
    <h4>No one!</h4>
}