@page "/club-dashboard/light/create"
@page "/club-dashboard/light/edit/{id:guid}"

@inherits LightDetailComponent

<MatCard class="p-4">

    <MatSubtitle2>
        <h3>@($"{(ViewModel.IsNew ? "Crea una nuova luce" : "Modifica una luce esistente")}")</h3>
    </MatSubtitle2>


    <EditForm class="d-flex flex-column" Model="@ViewModel" OnValidSubmit="@(async () => await HandleValidSubmit())">

        <DataAnnotationsValidator/>
        <ValidationSummary/>

        <MatTextField @bind-Value="@ViewModel.Type" Dense="true" Label="Nome" HelperText="Inserire il nome della luce."></MatTextField>

        <MatNumericUpDownField
            Label="Prezzo"
            @bind-Value="@ViewModel.Price"
            DecimalPlaces="2"
            Step="0.50m"
            Minimum="1.00m">
        </MatNumericUpDownField>

        <MatCheckbox Class="mt-2" @bind-Checked="@ViewModel.Enable" Label="Abilitato"></MatCheckbox>

        <div class="d-flex flex-row-reverse">
            <MatButton Type="submit" Class="submit" Outlined="true">Salva</MatButton>
        </div>

    </EditForm>
</MatCard>