@page "/club-dashboard/light/create"
@page "/club-dashboard/light/edit/{id:guid}"

@inherits LightDetailComponent

<EditForm Model="@ViewModel" OnValidSubmit="@(async () => await HandleValidSubmit())">

    <DataAnnotationsValidator/>
    <ValidationSummary/>


    <InputText id="type" @bind-Value="@ViewModel.Type"></InputText>
    <InputNumber id="price" @bind-Value="@ViewModel.Price"></InputNumber>
    <InputCheckbox id="enabled" @bind-Value="@ViewModel.Enable"></InputCheckbox>

    <button type="submit">Submit</button>
</EditForm>